<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1></h1>
<%= title%>
<form method="post">
    name:<br>
    <input type="text" name="name">
    <br>
    password:<br>
    <input type="text" name="password">
    <input type="submit" value="Submit" >
</form>
</body>
</html>